/*
Table Of Contents
1. Layout
2. Effetcs
*/

/*
Layout
*/

.flexed {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.fifty {
  flex-basis: 50%;
}

.quarter {
  flex-basis: 25%;
}

.third {
  flex-basis: 33%;
}

/*
Effects
*/

.shadow {
  box-shadow: 0 10px 5px rgba( 0, 0, 0, 0.25 );
}